.layout-info-active {
    border-bottom: 6px solid #2196F3!important;
    background-color: #ddffff!important;
}

.layout-table-active {
    border-bottom: 6px solid #2196F3!important;
    background-color: #ddffff!important;
}